@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Muli', sans-serif;
    min-height: 100vh;
}
.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}
nav {
    background: #553C9A;
    color: #fff;
    padding: 1rem 0;
}